*{
    top: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/*NAVIGATION BAR*/
nav {
    background-color: #f0f0f0;
    height: 60px;
    width: 100%;
    top: 0;
    transition: top 1s;
    position: fixed;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.top-nav h1{
    font-weight: bold;
}


.top-nav p {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 10px;
}

.nav-center-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    padding-bottom: 15px;
}

.nav-center-bottom li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    position: relative; 
}

.nav-center-bottom li a {
    text-decoration: none;
    color: black;
    position: relative;
}

.nav-center-bottom li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FC5252;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.nav-center-bottom li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}


.dropdown.services {
    position: absolute;
    width: 172px;
    height: 280px;
    top: 22px; 
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1; 
    background: #FC5252;
    background: linear-gradient(to top, #FC5252 0%, #FFFFFF 29%);
    transition: 0.3s ease-in-out;
}

.nav-center-bottom li:hover .dropdown.services {
    opacity: 1;
    visibility: visible;
}

.dropdown.services li {
    display: block;
    margin-top: 10px;
}

.dropdown.services li a {
    color: black;
    font-weight: normal;
}

.dropdown.offres {
    position: absolute;
    width: 172px;
    height: 280px;
    top: 22px; 
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1; 
    background: #FC5252;
    background: linear-gradient(to top, #FC5252 0%, #FFFFFF 29%);
    transition: 0.3s ease-in-out;

}

.nav-center-bottom li:hover .dropdown.offres {
    opacity: 1;
    visibility: visible;
}

.dropdown.offres li {
    display: block;
    margin-top: 10px;
}

.dropdown.offres li a {
    color: black;
    font-weight: normal;
    
}

.nav-center-bottom .dropdown.offres li a::before, .nav-center-bottom .dropdown.services li a::before {
    transition: none; 
    text-decoration: none;
}




/* Additional Navigation Bar */
.ads-nav {
    background-color: #FC5252;
    height: 50px;
    text-align: center;
}

.ads-nav p {
    color: white;
    padding-top: 1.2%;
}

/*MAIN SECTION*/

main #bg2 {
    background-color: #D9D9D9;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

main .flex-container img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*Etudiant section*/
.etudiant-section {
   background: url(./assets/bgetudiant.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.etudiant-section .nos-offres {
    background-color: #D9D9D9;
    
}

.etudiant-section .nos-offres p{
    color: #D9D9D9;
}

/*Contact section*/
.contact-section {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    width: 100%;
}

.choose-transport {
    width: 100%;
    height: 100%;
}
.choose-transport h2 {
    text-align: center;
}

.img-contact-section {
    width: 60%;
}

.img-contact-section img {
    width: 300px;
    margin-top: 10%;
    margin-left: 30%;
}

.nous-contacter {
    width:  40%;
    margin-top: 10%;
}

.nous-contacter p {
    margin-right: 20%;
}

/*FOOTER*/
footer {
    background-color: #D9D9D9;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    
}

footer section{
    margin : 100px 0 5px 30px;
    width: 50%;
}

footer #footer-logo{
    margin-left: 30%;
    margin-top: 10%;
}