/* || RESET || */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font-family: inherit;
}

/* || VARIABLES || */
:root {
    /* FONTS */
    --FF: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --FS: 1rem;

    /* COLORS */
    --BGCOLOR: #F0F0F0;
    --PRIMARY_COLOR: #FC5252;
    --COLOR-DARKGRAY: #D9D9D9;
    --COLOR-LIGHTBLUE: #3D89F8;
    --COLOR-TABLE: #9ac2ff;
    --COLOR-WHITE: #fff;
    --COLOR-BLACK: #000;

    /* BORDERS */
    --BORDERS: 5px solid #FC5252;


    /*IMAGES__SIZE*/
    --HEADER_LOGO_RECT_SIZE: 70px;
    --FOOTER_LOGO_SIZE: 250px;
    --PRODUCT_HUNT_SIZE: 80px;
}


/* || UTILITY CLASSES || */
.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

/* || ANIMATIONS || */

@keyframes slideLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* || GENERAL STYLES || */
html {
    scroll-behavior: smooth;
    font-family: var(--FF);
    font-size: var(--FS);
    background-color: var(--BGCOLOR);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--COLOR-WHITE);
}

h1,
h2,
h3 {
    font-weight: bold;
}

p {
    font-size: var(--FS);
}

a {
    color: var(--COLOR-WHITE);
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: var(--COLOR-WHITE);
}

ul {
    list-style: none;
}

/* || HEADER, NAVBAR || */
.header {
    background-color: var(--COLOR-DARKGRAY);
    width: 100%;
    position: relative;
    z-index: 1;
    top: 0;
}

.header__h1 {
    margin-left: 10%;
    font-size: 25px;
}



.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__top a {
    margin-top: 2%;
    margin-left: 1%;
    width: 70px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
}

.header__top #logoRectComputer {
    width: 70px;
    height: 40px;
    cursor: pointer;
}

.header__top p {
    font-size: 13px;
    margin-right: 20px;
    margin-top: 10px;
    width: 190px;
    height: 30px;
}

.header-center-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 10px;
    padding-bottom: 15px;
    margin-left: 3.2%;
}

.header-center-bottom li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.header-center-bottom li a {
    color: var(--COLOR-BLACK);
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 18px;
}

.header-center-bottom li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--PRIMARY_COLOR);
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.header-center-bottom li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.dropdown-divider {
    height: 2px;
    background-color: var(--COLOR-BLACK);
    margin-bottom: 0;
    margin-top: 10px;
    width: 95%;
}

.dropdown.offres {
    position: absolute;
    width: 200px;
    height: 280px;
    top: 22px;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1;
    background: var(--COLOR-WHITE);
    transition: 0.3s ease-in-out;
}

.header-center-bottom li:hover .dropdown.offres {
    opacity: 1;
    visibility: visible;
}

.dropdown.offres li {
    display: block;
    margin-top: 10px;
}

.dropdown.offres li a {
    color: var(--COLOR-BLACK);
    font-weight: normal;
}

.dropdown.offres li a::after {
    margin-left: 5px;
}

.header-center-bottom .dropdown.offres li a::before,
.header-center-bottom .dropdown.services li a::before {
    transition: none;
    text-decoration: none;
}

/* Additional header Bar */
.ads {
    background-color: var(--PRIMARY_COLOR);
    height: 42px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.ads p {
    color: white;
    padding-top: 1.2%;
    width: 100%;
    margin-left: 5%;
}

.ads a {
    padding-top: 1.2%;
    width: 99%;
}

.ads i {
    font-size: 25px;
    color: var(--COLOR-WHITE);
    margin-top: 12px;
    margin-right: 15px;
}

.ads i:hover {
    color: var(--COLOR-BLACK);
    cursor: pointer;
}

/* Styles par défaut pour le bouton */
.toggle-ads {
    display: none;
    background-color: var(--PRIMARY_COLOR);
    border: none;
    width: 24px;
    height: 24px;
}

/* Styles pour la div .ads quand le bouton est coché */
.toggle-ads:checked+.ads {
    display: none;
}

.header hr {
    border-style: solid none;
    border-color: var(--PRIMARY_COLOR);
    border-width: 4px;
    height: 6px;
}

/* || FOOTER || */
.footer {
    background-color: var(--COLOR-DARKGRAY);
    border-top: 2px solid var(--COLOR-BLACK);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    color: var(--COLOR-BLACK);
    padding: 20px;
    position: relative;
}

.footer ul li {
    margin: 2px 0;
}

.footer__section {
    margin-bottom: 30px;
}

.footer__container {
    display: flex;
    position: relative;
    padding-top: 20px;
}

.footer__container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-hunt {
    background-color: var(--COLOR-WHITE);
    width: 20%;
    height: 80px;
    margin: 0 auto;
    margin-top: -60px;
    border: 2px solid var(--COLOR-BLACK);
}

.product-hunt h3 {
    font-size: 20px;
    text-align: center;
    color: var(--COLOR-BLACK);
}

.stars {
    margin-top: -6px;
    font-size: 34px;
    color: #FFD700;
    text-align: center;
    margin-bottom: 20px;
}

.product-hunt p {
    font-size: 12px;
    text-align: center;
    color: #444;
    margin-top: -22px;
}

#footer__logo {
    width: 250px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-left: 50%;
    margin-top: -2%;
}

/* || FORMAT ORDINATEUR DU MAIN || */
@media screen and (min-width: 500px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-ordinateur {
        display: block;
    }

    .propositions__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .propositions__velo img {
        width: 155px;
        height: 115px;
        margin: 10px;
    }

    .propositions__velo img:hover {
        transform: scale(1.2);
        transition: 0.4s;
    }

    .propositions__trottinette img {
        width: 120px;
        height: 120px;
        margin: 10px;
    }

    .propositions__trottinette img:hover {
        transform: scale(1.2);
        transition: 0.4s;
    }

    .propositions__segway img {
        width: 120px;
        height: 120px;
        margin-top: 10px;
    }

    .propositions__segway img:hover {
        transform: scale(1.2);
        transition: 0.4s;
    }

    /* || MAIN INDEX.html || */
    .bg2 {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    .video-overlay-text {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 2px 2px 4px var(--COLOR-BLACK);
        animation: opacity 1.5s ease-in-out;
    }

    .video-overlay-text h2 {
        color: var(--COLOR-WHITE);
        font-size: 40px;
        margin-bottom: 0;
    }

    .video-overlay-text p {
        color: var(--COLOR-WHITE);
        font-size: 20px;
        margin-top: 0;
        margin-left: 2%;
    }

    /*Propositions section*/
    .propositions__title {
        margin-top: 5%;
    }

    .propositions hr {
        width: 25%;
        margin-left: 38%;
        margin-top: 1.5%;
        margin-bottom: 5%;
        border-style: solid none;
        border-color: var(--PRIMARY_COLOR);
        border-width: 4px;
        height: 6px;
    }

    /*Etudiant section*/
    .etudiant {
        background: url(../styles/img-linked/bgetudiant.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    .etudiant__offres {
        background-color: var(--COLOR-DARKGRAY);
        height: 275px;
        width: 200px;
        border-radius: 15px;
        margin-left: 5%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        box-shadow: 0 2px 4px #00000027;
        opacity: 0;
    }

    .etudiant:hover .etudiant__offres {
        animation: slideLeftToRight 0.5s ease-in-out;
        opacity: 1;
    }

    .etudiant__offres p {
        color: var(--COLOR-BLACK);
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        margin-top: 10px;
    }

    .etudiant__offres .button-link {
        background-color: var(--PRIMARY_COLOR);
        border: none;
        border-radius: 5px;
        color: var(--COLOR-WHITE);
        font-size: 15px;
        width: 80%;
        cursor: pointer;
        padding: 10px 20px;
        text-align: center;
    }

    .etudiant__offres .button-link:hover {
        background-color: var(--COLOR-BLACK);
        font-size: 14px;
    }

    /*Contact section*/
    .contact {
        display: flex;
        flex-direction: row-reverse;
        height: 520px;
        width: 100%;
    }

    .contact__nous-contacter {
        width: 40%;
        margin-top: 10%;
        animation: slideRightToLeft 1s ease-in-out;
    }

    .contact__nous-contacter h2 {
        font-size: 22px;
        margin-bottom: 0.5%;
        margin-left: 10%;
    }

    .contact__nous-contacter hr {
        width: 18%;
        margin-left: 16%;
        margin-bottom: 5%;
        border-style: solid none;
        border-color: var(--PRIMARY_COLOR);
        border-width: 4px;
        height: 6px;
    }

    .contact__nous-contacter p {
        margin-right: 20%;
        margin-top: 20px;
        width: 60%;
    }

    .contact__nous-contacter a {
        color: var(--PRIMARY_COLOR);
    }

    .contact__nous-contacter a:hover {
        text-decoration: underline;
        color: var(--COLOR-BLACK);
    }


    .contact__img-contact-section {
        width: 60%;
        animation: slideLeftToRight 1s ease-in-out;
    }

    .contact__img-contact-section img {
        width: 350px;
        margin-top: 10%;
        margin-left: 40%;
    }

    /* || MAIN CONTACT.html || */
    .intro {
        width: 100%;
        margin-bottom: 7%;
    }

    .intro__flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .intro__left-container {
        width: 30%;
        margin-left: 5%;
        animation: slideLeftToRight 1s ease-in-out;
    }

    .intro__left-container h2 {
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: lighter;
    }

    .intro__left-container p {
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        color: var(--PRIMARY_COLOR);
    }

    .intro .intro__flex-container .intro__left-container .cercle {
        margin-top: 10%;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: var(--PRIMARY_COLOR);
    }

    .intro .intro__flex-container .intro__left-container .cercle p {
        display: none;
    }

    .intro .intro__flex-container .intro__right-container {
        width: 40%;
        margin-right: 5%;
        animation: slideRightToLeft 1s ease-in-out;
    }

    .intro .intro__flex-container .intro__right-container p{
        width: 75%;
    }

    .intro .intro__flex-container .intro__right-container p:nth-child(2), .intro .intro__flex-container .intro__right-container p:nth-child(3) {
        margin-top: 6%;
    }

    .intro .intro__flex-container .intro__right-container button {
        margin-top: 5%;
        border: var(--PRIMARY_COLOR) 2px solid;
        height: 80px;
        width: 250px;
        font-size: 25px;
    }

    .intro .intro__flex-container .intro__right-container button:hover {
        background-color: var(--PRIMARY_COLOR);
        color: var(--COLOR-WHITE);
    }

    .intro .intro__img-mission {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro .intro__img-mission img {
        width: 80vw;
        margin-right: 8%;
        animation: slideBottomToTop 1s ease-in-out;
    }


    .possibilities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }

    .possibilities>div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5%;
    }

    .possibilities img {
        width: 40vw;
        height: 20vh;
        height: auto;
        border-radius: 10px;
    }

    .possibilities__tier {
        width: 95vw;
        height: 80vh;
        border: 5px solid var(--PRIMARY_COLOR);
        background: url(../styles/img-linked/trotinnette.gif) no-repeat center center;
        background-size: cover;

    }

    .possibilities>div>div {
        background: var(--COLOR-DARKGRAY);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 1.5%;
        color: #414447;
        text-align: center;
        transition: transform 0.4s ease;
    }

    .possibilities>div>div h3 {
        font-size: 25px;
        font-weight: 900;
        text-align: left;
        color: var(--PRIMARY_COLOR);
    }

    .possibilities>div>div p {
        color: #414447;
        text-align: center;
        line-height: 1.6;
        letter-spacing: 0.5px;
    }

    .possibilities>div>div:hover p {
        color: var(--COLOR-WHITE);
    }

    .possibilities>div>div:hover {
        transform: scale(1.1) rotate(5deg);
        transition: all 0.4s ease 0s;
        background-color: var(--COLOR-LIGHTBLUE);
    }

    .possibilities h2 {
        font-size: 40px;
        color: var(--COLOR-BLACK);
        transition: all 0.4s ease 0s;
        text-align: center;
    }

    .possibilities hr {
        border: 4px solid var(--PRIMARY_COLOR);
        width: 20%;
        margin: 0 auto;
        margin-top: 1%;
    }

    .possibilities a:hover {
        text-decoration: none;
    }

    /*section offres Etudiant, Actifs */
    .offresEA {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
        margin-bottom: 20%;
    }

    .offresEA img {
        margin-left: 20%;
        width: 60vw;
    }

    .offresEA__blabla {
        background-color: var(--COLOR-LIGHTBLUE);
        width: 50vw;
        color: var(--COLOR-WHITE);
        margin-right: 40%;
        margin-top: -18%;
    }

    .offresEA__blabla h3 {
        font-size: 35px;
        font-weight: lighter;
        text-align: center;
        margin-top: 3%;
    }

    .offresEA__blabla p {
        padding-left: 5%;
        padding-right: 4%;
        margin-top: 2%;
    }

    .offresEA__blabla details {
        padding-left: 5%;
        padding-right: 4%;
        margin-bottom: 5vh;
    }

    .offresEA__blabla table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    .offresEA__blabla th,
    td {
        border: 1px solid var(--COLOR-WHITE);
        padding: 8px;
        text-align: left;
    }

    .offresEA__blabla th {
        background-color: var(--COLOR-TABLE);
    }

    .offresEA__blabla #execption1,
    #execption2 {
        background-color: var(--COLOR-LIGHTBLUE);
        border: none;
    }

    .offresEA__blabla summary {
        cursor: pointer;
        font-weight: bold;
        list-style-type: "⬆️";
    }

    .offresEA__blabla details[open] summary {
        list-style-type: "⬇️";
    }

    /* || MAIN CONTACT.html || */
    .Maps {
        height: 90vh;
        width: 100%;
        animation: opacity 0.2s ease-in-out;
    }

    .Maps img {
        width: 100%;
        height: 100%;
    }

    .formulaire {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        animation: slideBottomToTop 2.5s ease-in-out;
    }

    .formulaire form {
        background-color: var(--COLOR-DARKGRAY);
        padding: 3vh 2vw;
        height: 50vh;
        width: 50vw;
        box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
        display: flex;
        flex-direction: column;
    }

    .formulaire input {
        background: var(--COLOR-WHITE);
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25) inset;
        border-radius: 5px;
        height: 40px;
        padding-left: 10px;
        padding-top: 5px;
        border: none;
        margin-bottom: 10px;
    }

    .formulaire__firstname-lastname {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .formulaire__firstname-lastname input {
        width: 45%;
        height: 40px;
    }

    .formulaire #email {
        width: 100%;
        height: 90px;
    }

    .formulaire textarea {
        background: var(--COLOR-WHITE);
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25) inset;
        border-radius: 5px;
        height: 200px;
        padding-left: 10px;
        padding-top: 5px;
        border: none;
        margin-bottom: 10px;
        resize: none;
    }

    .formulaire button {
        border-radius: 7px;
        border: none;
        color: white;
        background: var(--COLOR-LIGHTBLUE);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 80px;
        height: 30px;
        margin-top: 15px;
    }


    .formulaire p {
        margin: 10px;
    }

    .formulaire .blue-box {
        background: var(--COLOR-LIGHTBLUE);
        color: white;
        width: 35vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .formulaire .blue-box h2 {
        margin-left: 10%;
    }

    .formulaire .blue-box .item {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
    }

    .formulaire .blue-box .item .hoursIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid var(--COLOR-BLACK);
        background: url(../styles/img-linked/hours.webp) no-repeat center;
        background-size: 35px;
    }

    .formulaire .blue-box .item .adressIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid var(--COLOR-BLACK);
        background: url(../styles/img-linked/location.webp) no-repeat center;
        background-size: 35px;
    }

    .formulaire .blue-box .item .phoneIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid var(--COLOR-BLACK);
        background: url(../styles/img-linked/phone.webp) no-repeat center;
        background-size: 35px;
    }

    .formulaire .blue-box .item .emailIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid var(--COLOR-BLACK);
        background: url(../styles/img-linked/email.webp) no-repeat center;
        background-size: 35px;
    }


    .formulaire .blue-box p {
        margin-left: 5%;
        margin-right: 10%;
    }
}

/* || FORMAT MOBILE DU MAIN || */
@media screen and (max-width: 490px) {
    .navbar-ordinateur {
        display: none;
    }

    .navbar-mobile img {
        margin-top: -8%;
        height: 30px;
        margin-left: 45%;
        padding-top: 1%;
        margin-bottom: 1%;
    }

    .navbar-mobile {
        display: block;
    }

    /*Permet de cacher et d'afficher le menu burger*/
    .header-center-bottom {
        display: none;
        height: 40px;
        margin-left: 9%;
    }

    .header-center-bottom li a {
        font-weight: normal;
        font-size: 15px;
    }

    #checknav {
        display: none;
        margin-bottom: 5%;
    }

    #checknav:checked~.header-center-bottom {
        display: block;
    }

    .header__ul {
        margin-top: 3%;
        margin-bottom: 3%;
        margin-right: 14%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__ul li {
        list-style: none;
    }

    .header__ul li a {
        text-decoration: none;
        color: var(--COLOR-BLACK);
        font-size: 15px;
        position: relative;
        display: table;
    }

    .bg2 {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        z-index: -1;
    }

    .video-overlay-text {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 4px var(--COLOR-BLACK);
        animation: opacity 1.5s ease-in-out;
    }

    .video-overlay-text h2 {
        color: var(--COLOR-WHITE);
        font-size: 30px;
        margin-bottom: 0;
    }

    .video-overlay-text p {
        color: var(--COLOR-WHITE);
        font-size: 20px;
        margin-top: 0;
        margin-left: 2%;
    }

    .video-overlay-text:hover {
        color: var(--PRIMARY_COLOR);
        cursor: pointer;
    }

    .propositions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 50px;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .propositions__velo img {
        width: 155px;
        height: 115px;
    }

    .propositions__velo img:hover {
        width: 155px;
        height: 115px;
        margin: 10px;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .propositions__trottinette img {
        width: 120px;
        height: 120px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .propositions__trottinette img:hover {
        width: 120px;
        height: 120px;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .propositions__segway img {
        width: 120px;
        height: 120px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .propositions__segway img:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    /*Propositions section*/
    .propositions h2 {
        text-align: center;
        margin-top: 5%;
        font-size: 22px;
        width: 100vw;
    }

    .propositions hr {
        width: 25%;
        margin-top: 1.5%;
        margin-bottom: 5%;
        border-style: solid none;
        border-color: var(--PRIMARY_COLOR);
        border-width: 4px;
        height: 6px;
    }

    .propositions h3 {
        text-align: center;
        font-size: 18px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /*Etudiant section*/
    .etudiant {
        background: url(../styles/img-linked/bgetudiant.webp) no-repeat left;
        background-size: cover;
        height: 60vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    .etudiant__offres {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .etudiant__offres p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: var(--COLOR-WHITE);
        -webkit-text-stroke: 1px var(--COLOR-BLACK);
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .etudiant__offres .button-link {
        background-color: var(--PRIMARY_COLOR);
        border: none;
        border-radius: 5px;
        color: var(--COLOR-WHITE);
        font-size: 15px;
        padding: 10px 20px;
        width: 80%;
        cursor: pointer;
        text-align: center;
    }

    .etudiant__offres .button-link:hover {
        background-color: var(--COLOR-BLACK);
        font-size: 14px;
    }

    /*Contact section*/
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70vh;
        width: 100vw;
    }

    .contact__img-contact-section {
        display: flex;
        justify-content: center;
    }

    .contact__img-contact-section img {
        width: 250px;
        height: 250px;
    }

    .choose-transport {
        width: 100%;
        height: 100%;
    }

    .contact__nous-contacter {
        width: 100%;
        margin-top: 10%;
    }

    .contact__nous-contacter hr {
        width: 18%;
        border-style: solid none;
        border-color: var(--PRIMARY_COLOR);
        border-width: 4px;
        height: 6px;
    }

    .contact__nous-contacter p {
        margin-top: 20px;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .contact__nous-contacter a {
        text-decoration: none;
        color: var(--PRIMARY_COLOR);
        font-style: italic;
    }

    .contact__nous-contacter a:hover {
        text-decoration: underline;
        color: var(--COLOR-BLACK);
    }

    /* || MAIN OFFRES.html || */
    .intro {
        width: 100%;
    }

    .intro__flex-container {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .intro .intro__left-container {
        width: 100%;
    }

    .intro .intro__left-container h2 {
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: lighter;
        text-align: left;
        width: 80%;
        margin-left: 10%;
    }

    .intro .intro__left-container p {
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: bold;
        color: var(--PRIMARY_COLOR);
        text-align: left;
        width: 80%;
        margin-left: 10%;
    }

    .intro__flex-container .intro__left-container .cercle {
        margin-top: 10%;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: var(--PRIMARY_COLOR);
        margin-left: 5%;
    }

    .intro__flex-container .intro__left-container .cercle p {
        display: none;
    }

    .intro__flex-container .intro__right-container {
        width: 100%;
    }

    .intro__flex-container .intro__right-container p {
        margin-top: 5%;
        padding: 5px;
        width: 80%;
        margin-left: 10%;
        text-align: left;
    }

    .intro__flex-container .intro__right-container button {
        margin-top: 5%;
        border: var(--PRIMARY_COLOR) 2px solid;
        height: 80px;
        width: 250px;
        font-size: 25px;
        margin-left: 10%;
    }

    .intro__flex-container .intro__right-container button:hover {
        background-color: var(--PRIMARY_COLOR);
        color: var(--COLOR-WHITE);
    }

    .intro__img-mission {   
        width: 100vw;
    }

    .intro__img-mission img {
        width: 80vw;
        margin-left: 8%;
    }

    .possibilities hr {
        border-style: solid none;
        border-color: var(--PRIMARY_COLOR);
        border-width: 4px;
        height: 6px;
        width: 17%;
        margin-top: 3px;
        margin-left: 41.5%;
    }

    .possibilities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .possibilities>div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5%;

    }

    .possibilities__tier {
        margin-top: -6%;
        width: 95vw;
        height: 70vh;
        border: 5px solid var(--PRIMARY_COLOR);
    }

    .possibilities__tier-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .possibilities>div>div {
        background: var(--COLOR-DARKGRAY);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 1.5%;
    }

    .possibilities p {
        color: #414447;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: 0.5px;
    }

    .possibilities h2 {
        font-size: 40px;
        color: var(--COLOR-BLACK);
        transition: all 0.4s ease 0s;
        text-align: center;
    }

    .possibilities h3 {
        font-size: 30px;
        font-weight: 900;
        color: var(--COLOR-BLACK);
        text-align: left;
        color: var(--PRIMARY_COLOR);
    }

    .possibilities hr {
        border: 4px solid var(--PRIMARY_COLOR);
        width: 20%;
        margin: 0 auto;
        margin-top: 1%;
    }

    .possibilities a {
        text-decoration: none;
    }

    .offresEA {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
        margin-bottom: 50%;
    }

    .offresEA img {
        width: 100vw;
        margin-right: 5%;
    }

    .offresEA .offresEA__blabla {
        background-color: var(--COLOR-LIGHTBLUE);
        width: 90vw;
        color: var(--COLOR-WHITE);
        margin-bottom: 10vh;
        margin-top: -10vh;
    }

    .offresEA .offresEA__blabla h3 {
        font-size: 35px;
        font-weight: lighter;
        text-align: center;
        margin-top: 3%;
    }

    .offresEA .offresEA__blabla p {
        padding-left: 5%;
        padding-right: 4%;
        margin-top: 2%;
    }

    .offresEA .offresEA__blabla details {
        padding-left: 5%;
        padding-right: 4%;
        margin-bottom: 5vh;
    }

    .offresEA .offresEA__blabla table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    .offresEA .offresEA__blabla th,
    td {
        border: 1px solid #eee;
        padding: 8px;
        text-align: left;
    }

    .offresEA .offresEA__blabla th {
        background-color: var(--COLOR-TABLE);
    }

    .offresEA .offresEA__blabla #execption {
        background-color: var(--COLOR-LIGHTBLUE);
        border: none;
    }

    .offresEA .offresEA__blabla summary {
        cursor: pointer;
        font-weight: bold;
        list-style-type: "⬆️";
    }

    .offresEA .offresEA__blabla details[open] summary {
        list-style-type: "⬇️";
    }

    #footer__logo {
        display: none;
    }

    /* || MAIN CONTACT.html || */
    .Maps {
        height: 30vh;
        width: 100%;
    }

    .Maps img {
        width: 100%;
        height: 100%;
    }

    .formulaire {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 100vw;
        margin-top: 5vh;
    }

    .formulaire form {
        background-color: var(--COLOR-DARKGRAY);
        padding: 3vh 2vw;
        height: 50vh;
        width: 80vw;
        box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulaire input {
        background: var(--COLOR-WHITE);
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25) inset;
        height: 30px;
        width: 90%;
        padding-left: 10px;
        padding-top: 5px;
        margin-bottom: 10px;
        border: none;
    }

    .formulaire__firstname-lastname {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .formulaire #email {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulaire__firstname-lastname input {
        width: 90%;
    }

    .formulaire textarea {
        background: var(--COLOR-WHITE);
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25) inset;
        border-radius: 5px;
        height: 200px;
        width: 90%;
        padding-left: 10px;
        padding-top: 5px;
        border: none;
        margin-bottom: 10px;
        resize: none;
    }

    .formulaire button {
        color: white;
        background: var(--COLOR-LIGHTBLUE);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 90%;
        height: 30px;
        margin-top: 15px;
    }


    .formulaire p {
        margin: 10px;
    }

    .formulaire .blue-box {
        background: var(--COLOR-LIGHTBLUE);
        color: white;
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .formulaire .blue-box h2 {
        margin-left: 10%;
    }

    .formulaire .blue-box .item {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
    }

    .formulaire .blue-box .item .hoursIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid black;
        background: url(../styles/img-linked/hours.webp) no-repeat center;
        background-size: 35px;
    }

    .formulaire .blue-box .item .adressIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid black;
        background: url(../styles/img-linked/location.webp) no-repeat center;
        background-size: 35px;
    }

    .formulaire .blue-box .item .phoneIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid black;
        background: url(../styles/img-linked/phone.webp) no-repeat center;
        background-size: 35px;
    }

    .formulaire .blue-box .item .emailIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid black;
        background: url(../styles/img-linked/email.webp) no-repeat center;
        background-size: 35px;
    }

    .formulaire .blue-box p {
        margin-left: 5%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 991px) {
    #footer__logo {
        display: none;
    }

    .etudiant__offres {
        animation: none;
        transition: none;
    }

    .etudiant:hover .nos-offres {
        animation: none;
        transition: none;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin-bottom: 20%;
    }

    .contact__img-contact-section {
        display: flex;
        justify-content: center;
        transition: none;
        animation: none;
    }

    .contact__img-contact-section img {
        width: 350px;
        height: 350px;
    }

    .contact__nous-contacter {
        width: 100%;
        transition: none;
        animation: none;
    }

    .contact__nous-contacter h2 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 0.5%;
        margin-left: 0%;
    }

    .contact__nous-contacter hr {
        width: 18%;
        margin-left: 41%;
        border-style: solid none;
        border-color: var(--PRIMARY_COLOR);
        border-width: 4px;
        height: 6px;
    }

    .contact__nous-contacter p {
        margin-top: 20px;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .contact__nous-contacter a {
        color: var(--PRIMARY_COLOR);
    }

    .contact__nous-contacter a:hover {
        text-decoration: underline;
        color: var(--COLOR-BLACK);
    }

    .product-hunt {
        background-color: var(--COLOR-WHITE);
        width: 35%;
        height: 46%;
        margin: 0 auto;
        margin-top: -60px;
        border: 2px solid var(--COLOR-BLACK);
    }

    .product-hunt h3 {
        font-size: 20px;
        text-align: center;
        color: var(--COLOR-BLACK);
    }

    .stars {
        margin-top: -6px;
        font-size: 30px;
        color: #FFD700;
        text-align: center;
    }

    .product-hunt p {
        font-size: 12px;
        text-align: center;
        color: #444;
        margin-top: -22px;
    }
}

@media (min-width: 813px) and (max-width: 1024px) {
    .possibilities>div:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .offresEA {
        margin-top: 10%;
        margin-bottom: 30%;
    }
}

@media screen and (max-width: 985px) {
    .possibilities>div:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .possibilities__tier {
        flex-direction: column;
    }

    .possibilities img {
        width: 100%;
        height: auto;
    }

    .offresEA {
        margin-top: 10%;
        margin-bottom: 40%;
    }


    .possibilities>div>div {
        background-color: var(--COLOR-DARKGRAY);
        width: 100%;
        height: 100%;
        margin-bottom: 30%;
        font-size: 15px;
    }

    .possibilities__tier {
        margin-top: 0;
        background-image: none;
    }
}

@media(max-width: 930px) {
    #footer__logo {
        display: none;
    }

    .possibilities>div>div:hover p {
        color: #414447;
    }

    .possibilities>div>div:hover {
        transform: none;
        transition: none;
    }
}

@media screen and (max-width : 390px) {
    .product-hunt {
        background-color: var(--COLOR-WHITE);
        width: 50%;
        height: 40%;
        margin: 0 auto;
        margin-top: -60px;
        border: 2px solid var(--COLOR-BLACK);
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .header-center-bottom li a {
        font-weight: normal;
        font-size: 13px;
    }
}

@media(max-width: 930px) and (min-height: 420px) {
    .Maps {
        height: 50vh;
        width: 100%;
    }

    .formulaire {
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5vh;
    }

    .formulaire form {
        height: 60vh;
        width: 80vw;
        box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulaire input {
        width: 90%;
        margin-bottom: 10px;
        border: none;
    }

    .formulaire__firstname-lastname {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .formulaire #email {
        width: 90%;
    }

    .formulaire textarea {
        width: 90%;
    }

    .formulaire .blue-box {
        width: 100vw;
        height: 90vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}